<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        function resizeIframe(obj) {
          obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
        }
      </script>
    <meta charset="UTF-8">
    <title>One Page Website</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>
    <header>
        <a href="#"><img src="images/logo.png" alt=""></a>
            <ul id="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#mint">Mint</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
    </header>
    <main>
      <section id="home"><h1>This Is Home</h1></section>
      <section id="about"><h1>This Is About</h1></section>
      <section id="mint">
        
        <iframe src="Dapp.html" frameborder="0" scrolling="no" onload="resizeIframe(this)">
    
    <section id="pricing"><h1>This Is Pricing</h1></section>>
      <section id="contact"><h1>This Is Contact</h1></section>>
    </main>
  </body>

</html>














